<div class="container">
  <div class="p-3 text-center">
    <h1>{{ '::Menu:Books' | abpLocalization }}</h1>
  </div>
  <div class="d-flex mb-2 align-items-center gap-2 flex-wrap">
    <abp-button
      class="ms-auto"
      buttonClass="btn btn-primary"
      iconClass="fa fa-plus"
      (click)="openCreateModal()"
    >
      {{ '::Menu:Add:Book' | abpLocalization }}
    </abp-button>
  </div>

  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    columnMode="force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="10"
  >
  </ngx-datatable>
</div>

<abp-modal [(visible)]="isModalOpen" [options]="modalOptions">
  <ng-template #abpHeader>
    <h3>
      <i class="fa fa-plus"></i>
      {{ '::Books:NewBook' | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" class="d-flex flex-column gap-3" (ngSubmit)="createBook()">
      <div>
        <label for="title">
          {{ '::Books:Title' | abpLocalization }}
        </label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          [placeholder]="'::Books:Title' | abpLocalization"
        />
      </div>
      <div>
        <label for="author">{{ '::Books:Author' | abpLocalization }}</label>
        <input
          type="text"
          class="form-control"
          id="author"
          formControlName="author"
          [placeholder]="'::Books:Author' | abpLocalization"
        />
      </div>
      <div>
        <label for="isbn">{{ '::Books:ISBN' | abpLocalization }}</label>
        <input
          type="text"
          class="form-control"
          id="isbn"
          formControlName="isbn"
          [placeholder]="'::Books:ISBN' | abpLocalization"
        />
      </div>
      <div>
        <label for="publishedDate">{{ '::Books:PublishDate' | abpLocalization }}</label>
        <input
          type="date"
          class="form-control"
          id="publishedDate"
          formControlName="publishedDate"
          [placeholder]="'::Books:PublishDate' | abpLocalization"
        />
      </div>
      <div>
        <label for="pages">{{ '::Books:PagesNumber' | abpLocalization }}</label>
        <input
          type="number"
          class="form-control"
          id="pages"
          formControlName="pages"
          [placeholder]="'::Books:PagesNumber' | abpLocalization"
        />
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::General:Cancel' | abpLocalization }}
    </button>
    <button type="button" class="btn btn-primary" (click)="createBook()">
      {{ '::General:Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
